DB_ENGINE=django.db.backends.postgresql
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY='django-insecure-j_89af+30&&4qm*8z9_(^zz8p4-ho8z_m6ylm0s$h!-p@on1_^'
ALLOWED_HOSTS=51.250.109.198,127.0.0.1,localhost,resqntz.sytes.net
